{%- comment %}<locksmith:2a90>{% endcomment -%}
  {%- assign locksmith_a340_product__first_available_variant = nil %}{% assign locksmith_a340_product__selected_variant = nil %}{% assign locksmith_a340_product__selected_or_first_available_variant = nil %}{% for variant in product.variants %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif %}{% if locksmith_a340_product__first_available_variant == nil and variant.available %}{% assign locksmith_a340_product__first_available_variant = variant %}{% endif %}{% if locksmith_a340_product__selected_variant == nil and variant.selected %}{% assign locksmith_a340_product__selected_variant = variant %}{% endif %}{% if variant == product.selected_or_first_available_variant %}{% assign locksmith_a340_product__selected_or_first_available_variant = product.selected_or_first_available_variant %}{% endif %}{% endfor %}{% if locksmith_a340_product__selected_or_first_available_variant == nil %}{% assign locksmith_a340_product__selected_or_first_available_variant = locksmith_a340_product__first_available_variant %}{% endif -%}
{%- comment %}</locksmith:2a90>{% endcomment -%}

{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'

  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- comment %}<locksmith:dde8>{% endcomment -%}
  {%- assign locksmith_67f4_forloop__size = 0 %}{%- for value in option.values -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: value, subject_parent: option, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_67f4_forloop__size = locksmith_67f4_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_67f4_forloop__index = nil -%}
{%- comment %}</locksmith:dde8>{% endcomment -%}
{%- for value in option.values -%}
  {%- comment %}<locksmith:b3d0>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: value, subject_parent: option, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_67f4_forloop__index == nil %}{% assign locksmith_67f4_forloop__index = 1 %}{% assign locksmith_67f4_forloop__index0 = 0 %}{% else %}{% assign locksmith_67f4_forloop__index = locksmith_67f4_forloop__index | plus: 1 %}{% assign locksmith_67f4_forloop__index0 = locksmith_67f4_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_67f4_forloop__index == 1 %}{% assign locksmith_67f4_forloop__first = true %}{% else %}{% assign locksmith_67f4_forloop__first = false %}{% endif %}{% if locksmith_67f4_forloop__index == locksmith_67f4_forloop__size %}{% assign locksmith_67f4_forloop__last = true %}{% else %}{% assign locksmith_67f4_forloop__last = false %}{% endif %}{% assign locksmith_67f4_forloop__rindex = locksmith_67f4_forloop__size | minus: locksmith_67f4_forloop__index | minus: 1 %}{% assign locksmith_67f4_forloop__rindex0 = locksmith_67f4_forloop__size | minus: locksmith_67f4_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
  {%- comment %}</locksmith:b3d0>{% endcomment -%}
  {%- liquid
    assign option_disabled = true

    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[locksmith_67f4_forloop__index0] == value and variants_available_arr[locksmith_67f4_forloop__index0]
            assign option_disabled = false
          endif
        when 2
          if option1_name == locksmith_a340_product__selected_or_first_available_variant.option1 and variants_option2_arr[locksmith_67f4_forloop__index0] == value and variants_available_arr[locksmith_67f4_forloop__index0]
            assign option_disabled = false
          endif
        when 3
          if option1_name == locksmith_a340_product__selected_or_first_available_variant.option1 and variants_option2_arr[locksmith_67f4_forloop__index0] == locksmith_a340_product__selected_or_first_available_variant.option2 and variants_option3_arr[locksmith_67f4_forloop__index0] == value and variants_available_arr[locksmith_67f4_forloop__index0]
            assign option_disabled = false
          endif
      endcase
    endfor
  -%}

  {%- if block.settings.picker_type == 'button' -%}
    <input
      type="radio"
      id="{{ section.id }}-{{ option.position }}-{{ locksmith_67f4_forloop__index0 }}"
      name="{{ option.name }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if option.selected_value == value %}
        checked
      {% endif %}
      {% if option_disabled %}
        class="disabled"
      {% endif %}
    >
    <label for="{{ section.id }}-{{ option.position }}-{{ locksmith_67f4_forloop__index0 }}">
      {{ value -}}
      <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
    </label>
  {%- elsif block.settings.picker_type == 'dropdown' -%}
    <option
      value="{{ value | escape }}"
      {% if option.selected_value == value %}
        selected="selected"
      {% endif %}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}
